*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
}
/* banner start */
.banner{
    display: flex;
    background-image: url(/img/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.b-content{
   width: 50%;
   padding-left: 50px;
}
.b-content h1{
    font-size: 40px;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 20px;
}
.b-content p{
    margin-top: 20px;
    margin-bottom: 30px;
}
.b-content span{
    color: orange;
}
.b-content h3{
    font-weight: 550;
}
.b-img{
    width: 50%;
}
.b-img img{
    width: 90%;
}
.b-btn{
    background-color: orangered;
    color: white;
    padding: 10px 40px;
    text-decoration: none;
    font-weight: 700;
    border-radius: 7px;
}
/* banner end */